APP_NAME=Lumen
APP_KEY=8vcqG2RK2vbRaZed # Default of lumen
APP_SECRET=8DXNHFT(Vh6s6i9A # JWT token
APP_DEBUG=false

#APP_URL=http://channel-office-api.jbsv.com.vn
#ADMIN_URL=http://channel-office.jbsv.com.vn
APP_URL=https://adm-api.finavi.com.vn
ADMIN_URL=https://adm.finavi.com.vn

API_AI=http://krx-channel-app01:10040,http://krx-channel-app02:10040,http://krx-channel-app03:10040
API_CHANNEL_URL=https://wts.finavi.com.vn/api/v1
API_CORE_URL=http://localhost/api/v1/bridge

API_CORE_HOST=http://10.50.22.30:8081
USERNAME_CORE=CHANEL
PASSWORD_CORE=123456@

APP_TIMEZONE=Asia/Ho_Chi_Minh

LOG_CHANNEL=single
LOG_SLACK_WEBHOOK_URL=
LOG_NUMBER_DAYS_LIMIT=14

DB_CONNECTION=mysql
DB_HOST=dc-channel-db01
DB_PORT=3306
DB_DATABASE=common
DB_USERNAME=common
DB_PASSWORD=CVJKFAA0wHKyPamS

CACHE_DRIVER=file
QUEUE_CONNECTION=database

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=management.test.123@gmail.com
MAIL_PASSWORD=cdeusskjiiiqocpa
MAIL_ENCRYPTION=tls

IS_SIMPLE=false  # Simple users table vs a_users ( complex auth )

# AWS - MINIO
AWS_KEY=h8jU10lVXkK6MJzb
AWS_SECRET=SCrbV9KQJbL9l5CV1EcV0PREcbp9jj29
AWS_REGION=ap-northeast-1
AWS_BUCKET=public
AWS_ROOT=files
AWS_PATH_LOCALE=locale/
AWS_PATH_MTS_CONFIG=files/mts-config/
AWS_SUPPRESS_PHP_DEPRECATION_WARNING=true
MINIO_ENDPOINT=http://krx-channel-backbone-lb:9000/
URL_MINIO=https://wts.finavi.com.vn/s3/files

#CKFINDER_KEY_NAME=krx-adm.finavi.com.vn
#CKFINDER_KEY_LICENSE=C3H35TQA92E1KA5V6PQ2FQREJYUG7
CKFINDER_KEY_NAME=adm.finavi.com.vn
CKFINDER_KEY_LICENSE=1RURL5DP3DXUP43XR62VVA4CS4MF3


DB_BANNER_CONNECTION=mysql
DB_BANNER_HOST=dc-channel-db01
DB_BANNER_PORT=3306
DB_BANNER_DATABASE=banner
DB_BANNER_USERNAME=banner
DB_BANNER_PASSWORD=SG4DzFiKEk4[zN)U

DB_AAA_CONNECTION=mysql
DB_AAA_HOST=dc-channel-db01
DB_AAA_PORT=3306
DB_AAA_DATABASE=aaa
DB_AAA_USERNAME=aaa
DB_AAA_PASSWORD=mOuGq]FrsfV0lnc6

DB_DATAFEED_CONNECTION=mysql
DB_DATAFEED_HOST=dc-channel-db02
DB_DATAFEED_PORT=3306
DB_DATAFEED_DATABASE=finn_data
DB_DATAFEED_USERNAME=datafeedsync
DB_DATAFEED_PASSWORD=W[FrR81ToI2oXPLQ

DB_DISCOVER_CONNECTION=mysql
DB_DISCOVER_HOST=dc-channel-db01
DB_DISCOVER_PORT=3306
DB_DISCOVER_DATABASE=discover
DB_DISCOVER_USERNAME=discover
DB_DISCOVER_PASSWORD=Lsqr-2SLikQ8c_RQ

DB_USER_UTILITIES_CONNECTION=mysql
DB_USER_UTILITIES_HOST=dc-channel-db01
DB_USER_UTILITIES_PORT=3306
DB_USER_UTILITIES_DATABASE=user_utilities
DB_USER_UTILITIES_USERNAME=user_utilities
DB_USER_UTILITIES_PASSWORD=gZ2AOBKka2wO3-uP

DB_COMMUNITY_CONNECTION=mysql
DB_COMMUNITY_HOST=dc-channel-db01
DB_COMMUNITY_PORT=3306
DB_COMMUNITY_DATABASE=community
DB_COMMUNITY_USERNAME=community
DB_COMMUNITY_PASSWORD=lcHrnpS2L[k3t/LF

DB_EVENT_CONNECTION=mysql
DB_EVENT_HOST=dc-channel-db01
DB_EVENT_PORT=3306
DB_EVENT_DATABASE=event
DB_EVENT_USERNAME=event
DB_EVENT_PASSWORD=5mnBlHANbEv[0vJa

DB_STOCKING_CONNECTION=mysql
DB_STOCKING_HOST=dc-channel-db01
DB_STOCKING_PORT=3306
DB_STOCKING_DATABASE=stocking
DB_STOCKING_USERNAME=stocking
DB_STOCKING_PASSWORD=dssxT@)a[Mz10vso

DB_NOTIFICATION_CONNECTION=mysql
DB_NOTIFICATION_HOST=dc-channel-db01
DB_NOTIFICATION_PORT=3306
DB_NOTIFICATION_DATABASE=notification
DB_NOTIFICATION_USERNAME=notification
DB_NOTIFICATION_PASSWORD=gqes1oV6]PxCEkt]

REDIS_HOST=krx-channel-backbone03
REDIS_PORT=6379
REDIS_PASSWORD=jbsvredis2023
REDIS_SERVICE=mymaster

REDIS_CLUSTER=true

REDIS_HOST_NODE_1=krx-channel-backbone01:26379
REDIS_HOST_NODE_2=krx-channel-backbone02:26379
REDIS_HOST_NODE_3=krx-channel-backbone03:26379

USE_AD_LOGIN=false
LDAP_HOST=192.168.1.1
LDAP_PORT=389
LDAP_BASE_DN=DC=jbsv,DC=com,DC=vn
