#BASE_DOMAIN=jbsv.com.vn
#API_URL=http://channel-office-api.jbsv.com.vn
BASE_DOMAIN=finavi.com.vn
API_URL=https://adm-api.finavi.com.vn
URL_MINIO=https://wts.finavi.com.vn/s3/files
URL_WTS=https://wts.finavi.com.vn/s3
PARENT_FOLDER=files
STOCKS_JSON_URL=https://wts.finavi.com.vn/s3/market/symbol.json
