name: "{{ inventory_hostname }}"
data-dir: "{{ etcd_data_dir }}"
listen-peer-urls: "http://{{ hostvars[inventory_hostname]['etcd_ip'] | default(hostvars[inventory_hostname]['ansible_host'] | default(inventory_hostname)) }}:{{ etcd_peer_port }}"
initial-advertise-peer-urls: "http://{{ hostvars[inventory_hostname]['etcd_ip'] | default(hostvars[inventory_hostname]['ansible_host'] | default(inventory_hostname)) }}:{{ etcd_peer_port }}"
listen-client-urls: "http://{{ hostvars[inventory_hostname]['etcd_ip'] | default(hostvars[inventory_hostname]['ansible_host'] | default(inventory_hostname)) }}:{{ etcd_client_port }},http://127.0.0.1:{{ etcd_client_port }}"
advertise-client-urls: "http://{{ hostvars[inventory_hostname]['etcd_ip'] | default(hostvars[inventory_hostname]['ansible_host'] | default(inventory_hostname)) }}:{{ etcd_client_port }}"
initial-cluster: "{%- for host in groups['etcd'] -%}{{ hostvars[host]['inventory_hostname'] }}=http://{{ hostvars[host]['etcd_ip'] | default(hostvars[host]['ansible_host'] | default(hostvars[host]['inventory_hostname'])) }}:{{ etcd_peer_port }}{% if not loop.last %},{% endif %}{%- endfor %}"
initial-cluster-token: "{{ etcd_initial_cluster_token }}"
initial-cluster-state: "{{ etcd_initial_cluster_state }}"



