LOGGER={"appenders":{"application":{"type":"console"},"file":{"type":"file","layout":{"type":"json"},"filename":"/logs/bank-service.log","compression":true,"maxLogSize":10485760,"backups":100}},"categories":{"default":{"appenders":["application","file"],"level":"info"}}}
NODEID={{ node_id }}
INSTANCE_ID=1
CLUSTER_ID=bank-service

DB_HOST=192.168.44.11
DB_PORT=3306
DB_DATABASE_NAME=bank_service
DB_USERNAME=bank_service
DB_PASSWORD=6ZBz8ak4TS80eI0Q

# VPBANK
VPBANK_REDIRECT_COMMON_CALLBACK_URL=https://wts.jbsv.com/loading/

# VNPT
VNPT_ECONTRACT_URL=https://apigateway-econtract-demo.vnptit3.vn
VNPT_ECONTRACT_CLIENT_ID=jbsv.client@econtract.vnpt.vn
VNPT_ECONTRACT_CLIENT_SECRET=32vRi2sLCXtR17sZAWY0Sy16kZA75tpR
VNPT_ECONTRACT_EMAIL=adminjbsv@yopmail.com
VNPT_ECONTRACT_CALLBACK_CLIENT_ID=vnptecontract.client@jbsv.com
VNPT_ECONTRACT_CALLBACK_CLIENT_SECRET=06W5USstmS!aU0O!
VNPT_ECONTRACT_PORTAL_DOMAIN=econtract-demo.vnptit3.vn
VNPT_ECONTRACT_PORTAL_USERNAME=admin_jbsv
VNPT_ECONTRACT_PORTAL_PASSWORD=Abc@12345
