API_URL=https://uat-wts.finavi.com.vn
API_URL_HOMEPAGE=https://uat-api.jbsv.com.vn
UA=UA-11223344
GTM=GTM-NNXX5588
MINIO_URL=https://uat-wts.finavi.com.vn/s3/
IS_GOLIVE=true
PORT_BUILD=5011
APPSTORE_LINK=https://apps.apple.com/vn/app/finavi/id6446972800
GGPLAY_LINK=https://play.google.com/store/apps/details?id=vn.com.finavi.mts
OPENACCOUNT_LINK=https://uat-wts.finavi.com.vn/openaccount
