NODEID={{ node_id }}
INSTANCE_ID=1
CLUSTER_ID=market-query
LOGGER={"appenders":{"application":{"type":"console","layout":{"type":"json"}},"file":{"type":"file","layout":{"type":"json"},"filename":"/logs/market-query.log","compression":true,"maxLogSize":10485760,"backups":100}},"categories":{"default":{"appenders":["application","file"],"level":"info"}}}


MONGODB_MARKET_ENDPOINT=mongodb://market:47Et2JfN(Q2ulIPu@trading1:27017,trading2:27017,trading3:27017/grooo-market?replicaSet=rs0
MONGODB_MARKET_DATABASE=grooo-market

