# cau hinh kafka
NODE_ID={{ node_id }}
INSTANCE_ID=1
CLUSTER_ID=stock-detail-service

# cau hinh chung
ENV=dev
LETTUCE_TIMEOUT=200ms

# cau hinh server
PORT=8086
SCHEDULE_ENABLE=true
CACHE_SYMBOL_HEAT_SCHEDULE=0 * * * * ?
CACHE_SYMBOL_INSESSION_SCHEDULE=0 * 9-15 * * ?
CACHE_SYMBOL_OUTSESSION_SCHEDULE=0 0 7-8 * * ?
FILL_HISTORY_CACHE_SCHEDULE=0 0 2 * * *
PUT_ORGAN_CACHE_SCHEDULE=0 0 0/1 * * ?
AGGREGATE_SCHEDULE=0 5 0/1 * * ?
CACHE_EXCHANGE_SCHEDULE=0 10 2 * * ?
PUT_RATIO_CACHE_SCHEDULE=0 10 2 * * ?
CACHE_VALUATION_SCHEDULE=0 10 2 * * ?
CACHE_RETURN_STOCK_SCHEDULE=0 10 2 * * ?
CACHE_ORGANIZATION_SCHEDULE=0 10 2 * * ?
CACHE_COMPANY_SCHEDULE=0 0 0/1 * * ?
CACHE_COMPANY_OVERVIEW_SCHEDULE=0 0 0/1 * * ?
CACHE_COMPANY_RATIO_SCHEDULE=0 10 2 * * ?
CACHE_FORE_HISTORY_SCHEDULE=0 10 2 * * ?
CACHE_COMPANY_MAJOR_SCHEDULE=0 0 0/1 * * ?
CACHE_BOARD_OF_SCHEDULE=0 0 0/1 * * ?
CACHE_BUSINESS_PER_SCHEDULE=0 10 2 * * ?
CACHE_BALANCE_SHEET_SCHEDULE=0 10 2 * * ?
CACHE_MAJOR_BUSINESS_SCHEDULE=0 10 2 * * ?
CACHE_SUB_SIDIAR_SCHEDULE=0 0 0/1 * * ?
CACHE_CASH_DIVIDEND_SCHEDULE=0 10 2 * * ?
CACHE_STOCK_DIVIDEND_SCHEDULE=0 10 2 * * ?
CACHE_PROFITABILITY_SCHEDULE=0 10 2 * * ?
CACHE_CASH_FLOW_SCHEDULE=0 10 2 * * ?
CACHE_ICB_PROFIT_SCHEDULE=0 10 2 * * ?
CACHE_ICB_RATIO_SCHEDULE=0 10 2 * * ?

# cau hinh data
DATABASE_FINN=/finn_data?serverTimezone=Asia/Ho_Chi_Minh
USER_DATA=datafeed
PASS_DATA=BzaEQ[Wg2K3OR_VN
AUTO_JPA=none
SHOW_JPA=false

# cau hinh logging
LOGGING_ROOT=WARN
LOGGING_LOGBOOK=TRACE
LOGGING_FTL=INFO
LOGGING_JBSV_STOCK=WARN
PATH_FILE=/app/logs



