# cau hinh kafka
NODE_ID={{ node_id }}
INSTANCE_ID=1
CLUSTER_ID=discover-service

# cau hinh chung
ENV=dev
LETTUCE_TIMEOUT=200ms
MAIN_ALLOW=true
SCHEDULE_ENABLE=true
CACHE_MARKET_SCHEDULE=30 * 9-15 * * *
GET_ORGAN_DATA_SCHEDULE=0 0 1 * * ?
GET_MASTER_DATA_SCHEDULE=0 0 1 * * ?
CACHE_TOP_100_PROFIT_SCHEDULE=0 0 1 * * *
CACHE_TOP_100_PROFIT_L3_SCHEDULE=0 0 1 * * *
CACHE_TOP_100_PROFIT_QUARTER_SCHEDULE=0 0 1 * * *
CACHE_TOP_100_CASH_DIVIDEND_SCHEDULE=0 0 1 * * *
CACHE_TOP_100_CASH_DIVIDEND_L3_SCHEDULE=0 0 1 * * *
CACHE_TOP_100_STOCK_DIVIDEND_SCHEDULE=0 0 1 * * *
CACHE_TOP_100_STOCK_DIVIDEND_L3_SCHEDULE=0 0 1 * * *
NEWS_LIMIT_COUNT=1
NEWS_TRANS_LATE=translate-crawl-news

# cau hinh server
PORT=8087

# cau hinh data
DATABASE_DRIVER=/discover
USER_DATA=discover
PASS_DATA=Lsqr-2SLikQ8c_RQ
DATABASE_FINN=/finn_data?serverTimezone=Asia/Ho_Chi_Minh
USER_DATA_FINN=datafeed
PASS_DATA_FINN=BzaEQ[Wg2K3OR_VN
DATABASE_NOTIFICATION=/notification
USER_DATA_NOTI=notification
PASS_DATA_NOTI=gqes1oV6]PxCEkt]
DATABASE_COMMUNITY=/community
USER_DATA_COMMUNITY=community
PASS_DATA_COMMUNITY=lcHrnpS2L[k3t/LF
DATABASE_COMMON=/common
USER_DATA_COMMON=common
PASS_DATA_COMMON=CVJKFAA0wHKyPamS
DATABASE_ALARM=/alarm
USER_DATA_ALARM=alarm
PASS_DATA_ALARM=/TM59bsF[v]94xsB
AUTO_JPA=none
FORMAT_JPA=true
SHOW_JPA=false

# cau hinh flyway
ENABLED_FLYWAY=false
MIGRATE_FLYWAY=false
DATABASE_FLYWAY=/mysql
SCHEMAS_FLYWAY_DATA=discover
USER_FLYWAY_DATA=admin
PASS_FLYWAY_DATA=yCl8l0puFB4mvI@a

# cau hinh elasticsearch
SOCKET_ELASTICSEARCH=30s
CONNECTION_ELASTICSEARCH=1s
USERNAME_ELASTICSEARCH=elastic
PASSWORD_ELASTICSEARCH==mpQQYG7dYjhfYD_joOph
HOST_ELASTICSEARCH=dc-channel-db02
PORT_ELASTICSEARCH=9200

# cau hinh logging
LOGGING_ROOT=WARN
LOGGING_LOGBOOK=TRACE
LOGGING_FTL=INFO
LOGGING_JBSV=WARN
PATH_FILE=/app/logs





