ENV=uat

# Cau hinh kafka
NODE_ID={{ node_id }}
INSTANCE_ID=1
CLUSTER_ID=navi-bridge

# Cash in
INTERNAL_CASHIN=1
# Core gateway
FORWARD_ENDPOINT=http://localhost:8095
# Tai khoan de lay token goi api xuong core
OP_USERNAME=CHANEL
OP_PASSWORD=123456@

# Cau hinh log truyen vao common-js
LOGGER={"appenders":{"application":{"type":"console","layout":{"type":"json"}},"file":{"type":"file","layout":{"type":"json"},"filename":"/logs/navi-bridge.log","compression":true,"maxLogSize":10485760,"backups":100}},"categories":{"default":{"appenders":["application","file"],"level":"info"}}}

