[Unit]
Description=Patroni - PostgreSQL High Availability
After=syslog.target network.target

[Service]
Type=simple
User={{ postgresql_user }}
Group={{ postgresql_group }}
ExecStart=/usr/local/bin/patroni {{ patroni_config_dir }}/patroni.yml
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
TimeoutSec=30
Restart=always

[Install]
WantedBy=multi-user.target 