# Cau hinh kafka
NODE_ID={{ node_id }}
INSTANCE_ID=3
CLUSTER_ID=rest

# Cau hinh captcha
CAPTCHA_URL=https://www.google.com/recaptcha/api/siteverify
CAPTCHA_SECRET_KEY=6Lf9ou8oAAAAAJ7IJx0DOKgtv7XP1wouevSEdsRv
CAPTCHA_DEFAULT_TOKEN=N6Na2wv2llXzhNQ9U0taPEuLQ8K58
CAPTCHA_SCORE_WEB=0.2
CAPTCHA_SCORE_MOBILE=0.2
CAPTCHA_CHECK=true

# Port truyen vao express de hung toan bo url
PORT=30013

# Redis
CHECK_REDIS_TOKEN=true

# Upload avatar nguoi dung
# 20MB
EXPRESS_FILE_SIZE_LIMIT=20971520
# 2MB
AVATAR_MAX_SIZE=2097152

# Cron job
JOB_MOVE_NOTIFICATION='0 1 * * *'

# Cau hinh log truyen vao common-js
LOGGER={"appenders":{"application":{"type":"console"},"file":{"type":"file","layout":{"type":"json"},"filename":"/logs/rest.log","compression":true,"maxLogSize":10485760,"backups":1000}},"categories":{"default":{"appenders":["application","file"],"level":"info"}}}

