#!/bin/bash
. {{ oracle_profile }} > /dev/null 2>&1
expdp \"/ as sysdba\" directory={{ directory_name }} dumpfile={{ dumpfile_name }}.dmp logfile={{ dumpfile_name }}_expdp.log tables={{ partition_name | join(',') }} cluster=n compression=all exclude=statistics
