#!/bin/bash
. {{ oracle_profile }} > /dev/null 2>&1
sqlplus / as sysdba <<EOF
ALTER SESSION SET CONTAINER={{ container_db_name }};
select DIRECTORY_PATH from dba_directories where directory_name='{{ directory_name }}';
exit;
EOF
