# cau hinh kafka
NODE_ID={{ node_id }}
INSTANCE_ID=1
CLUSTER_ID=community-service

# cau hinh chung
ENV=dev
LETTUCE_TIMEOUT=200ms
MAIN_ALLOW=true
STATIC_RATE=30000

# cau hinh server
PORT=8083
SCHEDULE_ENABLE=true
CHECK_BADGE_SCHEDULE=0 0 2 * * *
CRON_SUM_SCHEDULE=0/30 * * * * ?
GET_NOTI_SCHEDULE=*/15 * * * * *
UPDATE_ADMIN_SCHEDULE=0 0 * * * *

# cau hinh data
DATABASE_COMMUNITY=/community
USER_DATA=community
PASS_DATA=lcHrnpS2L[k3t/LF
DATABASE_NOTIFICATION=/notification
USER_DATA_NOTI=notification
PASS_DATA_NOTI=gqes1oV6]PxCEkt]
DATABASE_COMMON=/common
USER_DATA_COMMON=common
PASS_DATA_COMMON=CVJKFAA0wHKyPamS
DATABASE_ALARM=/alarm
USER_DATA_ALARM=alarm
PASS_DATA_ALARM=/TM59bsF[v]94xsB
AUTO_JPA=none
FORMAT_JPA=true
SHOW_JPA=true
DATABASE_FLYWAY=/mysql
SCHEMAS_FLYWAY_DATA=community
USER_FLYWAY_DATA=admin
PASS_FLYWAY_DATA=yCl8l0puFB4mvI@a

# cau hinh flyway
ENABLED_FLYWAY=true
MIGRATE_FLYWAY=true

# cau hinh elasticsearch
USERNAME_ELASTICSEARCH=elastic
PASSWORD_ELASTICSEARCH==mpQQYG7dYjhfYD_joOph
HOST_ELASTICSEARCH=dc-channel-db02
PORT_ELASTICSEARCH=9200

# cau hinh logging
LOGGING_DATE=yyyy-MM-dd HH:mm:ss
LOGGING_ROOT=WARN
LOGGING_LOGBOOK=TRACE
LOGGING_FTL=INFO
LOGGING_JBSV=INFO
PATH_FILE=/app/logs

# cau hinh jbsv integrate
JBSV_INTEGRATE_WTS_DOMAIN=localhost
JBSV_INTEGRATE_WTS_SSL=false
JBSV_INTEGRATE_WTS_TIMEOUT=30000
JBSV_INTEGRATE_WTS_READ_TIME=30000
JBSV_INTEGRATE_WTS_CONNECT_TIME=30000

JBSV_INTEGRATE_CONTENT_ENABLED=true
JBSV_INTEGRATE_CONTENT_DOMAIN=lb:10040
JBSV_INTEGRATE_CONTENT_SSL=false
JBSV_INTEGRATE_CONTENT_TIMEOUT=30000
JBSV_INTEGRATE_CONTENT_READ_TIME=30000
JBSV_INTEGRATE_CONTENT_CONNECT_TIME=30000
JBSV_INTEGRATE_CORE_DOMAIN=localhost:8095
JBSV_INTEGRATE_CORE_ENABLED=true
JBSV_INTEGRATE_CORE_USERNAME=CHANEL
JBSV_INTEGRATE_CORE_PASS=123456@
JBSV_INTEGRATE_CORE_TIMEOUT=30000
JBSV_INTEGRATE_CORE_READ_TIME=30000 
JBSV_INTEGRATE_CORE_CONNECT_TIME=30000


