# cau hinh server
PORT=0

# cau hinh kafka
NODE_ID={{ node_id }}
INSTANCE_ID=1
CLUSTER_ID=navi-listener
RECONNECTION_DELAY=5000
NUMBER_OF_PARTITION=3
CORE_CHANNEL=kafka

# cau hinh socket
CORE_SOCKET_SSL=ws://
CORE_SOCKET_PATH=/notify

# cau hinh jackson
SERIALIZATION_JACKSON=false
INCLUSION_JACKSON=NON_NULL

# cau hinh logging
LOGGING_NAME=/logs/application.log
LOGGING_ROOT=WARN
LOGGING_WEB=DEBUG
LOGGING_FTL=INFO
LOGGING_FILE=%d{yyyy-MM-dd HH:mm:ss} %-5p %C %M %L - %m%n
LOGGING_CONSOLE=%d{yyyy-MM-dd HH:mm:ss} %-5p %C{1} %M %L - %m%n

# cau hinh topic
NOTIFICATION_TOPIC=notification
USER_EVENT_TOPIC=user-event
CORE_EVENT_TOPIC=USER_DATA
MARKET_COLLECTOR_TOPIC=market-collector
SYSTEM_EVENT_TOPIC=system-event

# cau hinh uri
NOTIFICATION_URI=/api/v1/notification/send
BATCH_COMPLETE_URI=/batchComplete


