#!/bin/bash
# Rollback script sinh tự động bởi Ansible
APP_DIR={{remote_app_dir}}
APP_DIR_BK={{remote_app_dir}}/bk
CONFIG_DIR={{remote_config_dir}}
CONFIG_DIR_BK={{remote_config_dir}}/bk

# Lấy thư mục backup mới nhất
LATEST_APP_BK=$(ls -1dt $APP_DIR_BK/* | head -n1)
LATEST_CONFIG_BK=$(ls -1dt $CONFIG_DIR_BK/* | head -n1)

# Rollback file .env
cp $LATEST_APP_BK/env $APP_DIR/.env 2>/dev/null || true
# Rollback các file docker-compose
cp $LATEST_APP_BK/docker-compose* $APP_DIR/ 2>/dev/null || true
# Rollback toàn bộ file config
cp $LATEST_CONFIG_BK/* $CONFIG_DIR/ 2>/dev/null || true

echo "Rollback completed!"
